<h1 class="component-title">Animals</h1>
<div>
  <button class="add-item-button" (click)="addAnimal()">Add animal</button>
</div>
<app-dog [items]="animals" [itemtype] = "typeA"></app-dog>
<h1 class="component-title">Cars</h1>
<div>
  <button class="add-item-button" (click)="addCar()">Add car</button>
</div>
<app-dog [items]="cars" [itemtype] = "typeC"></app-dog>
<h1 class="component-title">Flowers</h1>
<div>
  <button class="add-item-button" (click)="addFlower()">Add flower</button>
</div>
<app-dog [items]="flowers" [itemtype] = "typeF"></app-dog>
<router-outlet></router-outlet>
